.movie-table {
    border-collapse: collapse;
    width: 100%;
  }

  #selthe{
    width: 200px;
  }
  
  .movie-table th, .movie-table td {
    border: 1px solid #464545;
    padding: 8px;
    text-align: center;
  }
  
  .movie-table th {
    background-color: #333;
    color: #fff;
  }
  
  .movie-table th:first-child {
    background-color: #555;
  }
  
  .movie-table label {
    display: block;
    padding: 5px;
    text-align: center;
  }
  
  .movie-table input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .saved {
    background-color: #8d8d8d;
    pointer-events: none;
  }
  .saved input[type="checkbox"] {
    opacity: 0.5; 
    cursor: not-allowed;
  }
  
