.movie-table {
    border-collapse: collapse;
    width: 100%;
  }

  #selthe{
    width: 200px;
  }
  
  .movie-table th, .movie-table td {
    border: 1px solid #464545;
    padding: 8px;
    text-align: center;
  }
  
  .movie-table th {
    background-color: #333;
    color: #fff;
  }
  
  .movie-table th:first-child {
    background-color: #555;
  }
  
  .movie-table label {
    display: block;
    padding: 5px;
    text-align: center;
  }
  
  .movie-table input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .saved {
    background-color: #ccc; /* Set your desired gray background color */
  }
  
  .grayed-row {
    background-color: red;
  }

  /* Add this to your existing CSS file or create a new one if you don't have one */

/* Style for rows with a red background */
.row.highlighted {
  background-color: red;
  color: white; /* You can adjust the text color to make it readable on a red background */
}
